@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --section-overlay: rgba(0, 0, 0, 0.7);
  --background-overlay: rgba(0, 0, 0, 0.2)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.container {
  max-width: 800px;
  margin: auto;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 0.5rem;
}

/* Top  */

.section {
  width: 100%;
  padding: 1rem 0.5rem;
  border-radius: 0.4rem;
  color: white;
}

.section__inputs, .section__temperature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--section-overlay);
}

.section__inputs>input {
  border: 0.8px solid white;
  border-radius: 0.4rem;
  color: rgb(211, 192, 192);
  padding: 0.5rem;
  color: black;
  font-size: 20px;
  font-weight: 500;
}

.section__inputs>input:focus {
  outline: none;
}

.section__inputs>button {
  padding: 10px 50px;
  border: none;
  border-radius: 00.4rem;
  font-size: 20px;
  font-weight: 500;
  border: 2px solid black;
}

.section__inputs>button:hover {
  cursor: pointer;
  background-color: seagreen;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon>h3 {
  font-size: 15px;
  font-weight: 200;
  text-transform: capitalize;
}

.temperature>h1 {
  font-size: 60px;
}
.search-button{
  width: 200px;
  height: 50px;
}
.error-component{
  display: flex;
  flex-direction: column;
  gap: 10vh;
  background-color: black;
  color: red;
  align-items: center;
}
.error-component > button{
  width: 120px;
  height: 70px;
  background-color: aqua;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}